In [1]:
print('Hello world')

Hello world

In [2]:
x = 30
y = 10

print(x)
print(y)
print("\n")
print(x + y)
print(x - y)
print("\n")

print(x * y)
print(x / y)

30
10


40
20


300
3.0

In [3]:
x = 'Meghana'

print('Meghana')

_y= ('_Meghana is beautiful')

print(_y)

Meghana
_Meghana is beautiful

In [4]:
f_name= 'Meghana'
l_name='raut'

print(f_name)
print(l_name)

Meghana
raut

In [5]:
print('My World')

_A = ('$Anjali raut')
print(_A)
print('\n')

B = (50)
C = (90)

print('value of 50 is ',B)
print('shravani')

My World
$Anjali raut


value of 50 is  50
shravani

In [6]:
### we can see all keywords from python using below code

sa = 'Hi Hello'

import keyword

print(keyword.kwlist)


len(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

35

In [7]:
first_name = 'Meghana'
last_name ='raut'
print(first_name)
print(last_name)

name = 'Om'
print(name)

Meghana
raut
Om

### Data types in python

 'integer data type which is full no.
 float data type which is the no. is in point. ex. 30.2,12.3....etc
 complex no. ex. 2 + 3j
 boolin data type ex. true or false
 string data type ex. (' ')

## Identification of data type in python

In [8]:
x = 20 # declaration

print("value of x:")
print(x)
print("type of x:")
print(type(x))

print("\n")

y = 1.5

print("value of y:")
print(y)
print("type of y:")
print(type(y))

print("\n")

z = 2j + 4

print("value of z")
print(z)
print("type of z:")
print(type(z))

print("\n")

a = True

print("value of a:")
print(a)
print("type of a:")
print(type(a))

print("\n")

b = 'jack'

print("value of b:")
print(b)
print("type of b:")
print(type(b))

value of x:
20
type of x:
<class 'int'>


value of y:
1.5
type of y:
<class 'float'>


value of z
(4+2j)
type of z:
<class 'complex'>


value of a:
True
type of a:
<class 'bool'>


value of b:
jack
type of b:
<class 'str'>

# Typecasting

In [9]:
#folat to int convertion

print("float to int typecasting")
val = 350.7
print(val)
print(type(val))

val_z = int(val)
print(val_z)
print(type(val_z))

float to int typecasting
350.7
<class 'float'>
350
<class 'int'>

In [10]:
#string to int convertion

print("string to int typecasting")


str1 = "700"
print(str1)
print(type(str1))


str_i = int(str1)
print(str_i)
print(type(str_i))


print("\n")


str2 = "400"
print(str2)
print(type(str2))

str_a = float(str2)

print(str_a)
print(type(str_a))

string to int typecasting
700
<class 'str'>
700
<class 'int'>


400
<class 'str'>
400.0
<class 'float'>

# float value in string converted to int.

In [11]:
# first convert string to float then float convert to int int
str2 = "109.2"
print(str2)
print(type(str2))
print("\n")

str2_s = float(str2)
print(str2_s)
print(type(str2_s))
print("\n")

str2_i =int(str2_s)
print(str2_i)
print(type(str2_i))
print("\n")

str3 = "378.5"
print(str3)
print(type(str3))

str3_f = float(str3)
print(str3_f)
print(type(str3_f))


str3_i = int(str3_f)
print(str3_i)
print(type(str3_i))
print("\n")

str_m = "109.3"
print(str_m)
print(type(str_m))

str_m1 = float(str_m)
print(str_m1)
print(type(str_m1))

str_m2 = int(str_m1)
print(str_m2)
print(type(str_m2))

109.2
<class 'str'>


109.2
<class 'float'>


109
<class 'int'>


378.5
<class 'str'>
378.5
<class 'float'>
378
<class 'int'>


109.3
<class 'str'>
109.3
<class 'float'>
109
<class 'int'>

# Assignment - 1

In [12]:
# float, int to string

var = 100.23
var1 = 20
comp = 2 + 4j

print("float to string:")

var = 100.23
print(var)
print(type(var))

var2 = str(var)
print(var2)
print(type(var2))
print("\n")

print("int to string:")
var1 = 20
print(var1)
print(type(var1))

var1_s = str(var1)
print(var1_s)
print(type(var1_s))
print("\n")

print("complex to string")
comp = 2 + 4j
print(comp)
print(type(comp))

comp1_m = str(comp)
print(comp1_m)
print(type(comp1_m))

float to string:
100.23
<class 'float'>
100.23
<class 'str'>


int to string:
20
<class 'int'>
20
<class 'str'>


complex to string
(2+4j)
<class 'complex'>
(2+4j)
<class 'str'>

# Other types of Complex

In [13]:
# use complex() function for convertion

comp = complex(2,4)
print(comp)
print("The real part:")
print(comp.real)

print("The imag part:")
print(comp.imag)
print("\n")

comp = complex(3,7)
print(comp)
print("The real part:")
print(comp.real)


print("The imag part:")
print(comp.imag)
print("\n")

comp = complex(5,9)
print(comp)
print("The real part:")
print(comp.real)


print("The imag part:")
print(comp.imag)

(2+4j)
The real part:
2.0
The imag part:
4.0


(3+7j)
The real part:
3.0
The imag part:
7.0


(5+9j)
The real part:
5.0
The imag part:
9.0

In [14]:
c = complex(5)
print(c)

(5+0j)

In [15]:
#create a complex no. using int values

val = 30
print(val)
print(type(val))
c = complex(val)
print(c)
print(type(c))
print("The real part:")
print(c.real)
print(c.imag)
print("\n")

val1 = 200
print(val1)
print(type(val1))
c = complex(val1)
print(c)
print(type(c))
print("The real part")
print(c.real)
print("The imaginary part")
print(c.imag)

30
<class 'int'>
(30+0j)
<class 'complex'>
The real part:
30.0
0.0


200
<class 'int'>
(200+0j)
<class 'complex'>
The real part
200.0
The imaginary part
0.0

In [16]:
#create a complex no. using float values.

var = 10.2
print(var)
print(type(var))

c = complex(var)
print(c)
print(type(c))
print("\n")

print("The real part:")
print(c.real)

print("The imaginary part")
print(c.imag)
print("\n")

var2 = 20.5
print(var2)
print(type(var2))

c2 = complex(var2)
print(c2)
print(type(c2))
print("\n")

print("The real part:")
print(c2.real)
print("The imaginary part:")
print(c2.imag)

10.2
<class 'float'>
(10.2+0j)
<class 'complex'>


The real part:
10.2
The imaginary part
0.0


20.5
<class 'float'>
(20.5+0j)
<class 'complex'>


The real part:
20.5
The imaginary part:
0.0

In [17]:
#create a complex no. using string values.

str1 = "10"
print(str1)
print(type(str1))

c = complex(str1)
print(c)
print(type(c))
print("\n")
print("The real part:")
print(c.real)
print("The imaginary part")
print(c.imag)
print("\n")

str2 = "20"
print(str2)
print(type(str2))

c1 = complex(str2)
print(c)
print(type(c1))
print("\n")

str3 = "4+6j"
print(str3)
print(type(str3))

c2 = complex(str3)
print(c2)
print(type(c2))

10
<class 'str'>
(10+0j)
<class 'complex'>


The real part:
10.0
The imaginary part
0.0


20
<class 'str'>
(10+0j)
<class 'complex'>


4+6j
<class 'str'>
(4+6j)
<class 'complex'>

## bool()

In [18]:
x = True
x = False
print(x)

False

In [19]:
print(int(True))

1

In [20]:
print(int(False))

0

In [21]:
print(float(True))

1.0

In [22]:
print(float(False))

0.0

In [23]:
print(complex(True))

(1+0j)

In [24]:
print(complex(False))

0j

In [25]:
print('str',(True))

str True

In [26]:
print('str',(False))

str False

In [27]:
###Convert bool into str

print(type(True))
var = str(True)
print(var)
print(type(var))

print(type(False))
var = str(False)
print(var)
print(type(var))

<class 'bool'>
True
<class 'str'>
<class 'bool'>
False
<class 'str'>

In [28]:
###Convert float into bool
x = 0.12
x = bool(0.12)or (12.0)
print(x)
print(type(x))

y = bool(0.0)
print(y)

True
<class 'bool'>
False

In [29]:
### Convert int to bool

print(bool(12))
print(bool(0))

True
False

In [30]:
### Convert str to bool

str = "python"
x = (bool(str))
print(x)

str2 = ""
y = (bool(str2))
print(y)

True
False

In [31]:
### Convertion of complex no. into bool

x = 1 + 0j

b = bool(x)
print(b)

x = 4 + 3j

b = bool(x)
print(b)

x = 0+0j
b = bool(x)
print(b)


x = 4+8j
b = bool(x)
print(b)

True
True
False
True

# String

### Operations :- slicing, display, multiplying.

In [32]:
str1 = "This is a python language....12345"
print(str1)
print(type(str1))

#like your list

l = ['p','y','t','h','o','n']
print(l)

This is a python language....12345
<class 'str'>
['p', 'y', 't', 'h', 'o', 'n']

In [33]:
###assignment
#str1 = "This is easy language"
print(str1)
print(str1[5])
print(len(str1))

print(str1[29])

This is a python language....12345
i
34
1

In [34]:
str1[0]

'T'

In [35]:
# 0-31 nothing but the range of index

print(str1[0:31])

This is a python language....12

In [36]:
print(str1[0:5])
# it includes 0,1,2,3,4
# str1[start:end]
# end:not included

str1[5]

This

'i'

In [37]:
print(str1[5:20])
print(str1[20])

is a python lan
g

In [38]:
print(str1)
print(str1[:28])

This is a python language....12345
This is a python language...

In [39]:
print(str1)
print(str1[10:21])    
print(str1[0:])
print(str1[0:24])

This is a python language....12345
python lang
This is a python language....12345
This is a python languag

In [40]:
###Negative index

print(str1)

print(str1[0])

This is a python language....12345
T

In [41]:
print(str1[-1])
print(str1[-20])
print(str1[-15])

5
o
n

In [42]:
#string multiply

str1* 1

'This is a python language....12345'

In [43]:
###  Assignment - 2
## Ex - 1
str2 = "Dhoni is famous player"

print(str2)
print(type(str2))

#like your list 

l = ['D','h','o','n','i']
print(l)

Dhoni is famous player
<class 'str'>
['D', 'h', 'o', 'n', 'i']

In [44]:
#str2 = "tendulkar is very good player..."

print(str2)
print(str2[0])
print(len(str2))

print(str2[9])

Dhoni is famous player
D
22
f

In [45]:
str2[0]

'D'

In [46]:
#0-22 nothing but the range of index

str2[0:22]

'Dhoni is famous player'

In [47]:
print(str2[0:5])
#it includes 0,1,2,3,4
#str2[start:end]
#end:not included
str2[7]

Dhoni

's'

In [48]:
print(str2[5:21])
print(str2[20])

 is famous playe
e

In [49]:
print(str2)
print(str2[:21])

Dhoni is famous player
Dhoni is famous playe

In [50]:
print(str2)
print(str2[10:19])
print(str2[0:])
print(str2[0:20])

Dhoni is famous player
amous pla
Dhoni is famous player
Dhoni is famous play

In [51]:
###Negative index

print(str2)
print(str2[0])

Dhoni is famous player
D

In [52]:
print(str2[-1])
print(str2[-19])
print(str2[-8])

r
n
s

In [53]:
#string multiply

str2 * 3

'Dhoni is famous playerDhoni is famous playerDhoni is famous player'

In [2]:
## Ex- 2

str3 = "Krishna is famous lord of devotees..."
print(str3)
print(type(str3))

l = ['k','r','i','s','h','n','a']
print(l)

Krishna is famous lord of devotees...
<class 'str'>
['k', 'r', 'i', 's', 'h', 'n', 'a']

In [55]:
print(str3)
print(str3[0])
print(len(str3))

print(str3[30])

Krishna is famous lord of devotees...
K
37
t

In [56]:
str3[0]

'K'

In [57]:
# 0-37 nothing but the range of index

str3[0:37]

'Krishna is famous lord of devotees...'

In [58]:
print(str3[0:5])
# it includes 0,1,2,3,4
#str3[start:end]
#end: not included
str3[5]

Krish

'n'

In [59]:
print(str3[5:20])
print(str3[25:37])

na is famous lo
 devotees...

In [60]:
print(str3)
print(str3[10:20])
print(str3[0:])
print(str3[0:27])

Krishna is famous lord of devotees...
 famous lo
Krishna is famous lord of devotees...
Krishna is famous lord of d

In [61]:
### Negative index
print(str3)
print(str3[0])

Krishna is famous lord of devotees...
K

In [62]:
print(str3[-1])
print(str3[-10])
print(str3[-30])

.
e

In [63]:
##string multiply

str3 * 5

'Krishna is famous lord of devotees...Krishna is famous lord of devotees...Krishna is famous lord of devotees...Krishna is famous lord of devotees...Krishna is famous lord of devotees...'

# Immutability

In [64]:
var = 100
var1 = var

print(id(var))
print("and\n",id(var1))

print(var is var1)


var = 200.10
var1 =200.10
var2 = 200.10

print(id(var))
print("and\n",id(var1))

print(id(var2))

print(var is var1)

140737172791176
and
 140737172791176
True
2010418700624
and
 2010418693264
2010418694192
False

In [65]:
var = 10+20j
var1 = 10+20j
print(var is var1)
print(id(var))
print("and\n",id(var1))

##ID are different

False
2010418693136
and
 2010418700432

In [66]:
# Immutability
# for int
x = 100
print("Id of x:",id(x))
y = 100

print("Id of y:",id(y))

z = y

print("Id of z",id(z))

Id of x: 140737172791176
Id of y: 140737172791176
Id of z 140737172791176

In [67]:
# for float

x = 100.10
print("Id of x:",id(x))
y = 100.10

print("Id of y:",id(y))

z = y

y = x

print("Id of z:",id(z))
print("Id of y:",id(y))

Id of x: 2010418700624
Id of y: 2010417859536
Id of z: 2010417859536
Id of y: 2010418700624

# Bytes and bytearray Data types

In [68]:
#bytes can hold the values from 0 to 256
#you cant change the value of bytes once it is created
# Bytes is immutable

l = [1,2,3,4,5,6]

b = bytes(l)
print(b)
print(type(b))

print("\n")

b = bytes ([1,2,3,4,5,6,7,8,])

print(b)
print(type(b))

for i in b:
    print(i)
    
b[5]

b'\x01\x02\x03\x04\x05\x06'
<class 'bytes'>


b'\x01\x02\x03\x04\x05\x06\x07\x08'
<class 'bytes'>
1
2
3
4
5
6
7
8

6

In [69]:
b = bytes([10,22,33,40,50,255])

print(b)
print(type(b))

for i in b:
    print(i)
    
# How to access
print("val of b[5]", b[5])

# Try to modify
# b[0]= 15

b'\n\x16!(2\xff'
<class 'bytes'>
10
22
33
40
50
255
val of b[5] 255

# Bytearray

In [70]:
# The bytearray is similar to bytes 
# But you can change the elements of bytearray
# bytearray are mutable (we can change of object after creation)

# Create bytearray

ba = bytearray([11,22,33,40,50,66,78])

print(type(ba))
print(ba)

for i in ba:
    print(i)
    
#How access the bytearray

print("\n",ba[0])

ba[0] = 255  # value modification


print(ba[0])

print("\n")
for i in ba:
    print(i)

<class 'bytearray'>
bytearray(b'\x0b\x16!(2BN')
11
22
33
40
50
66
78

 11
255


255
22
33
40
50
66
78

# List

In [71]:
# List stores multiple items with different data types
# [] brackets are used to create list
# list is orderd , changeable and stores duplicates also
# list is growable, elements are added at the end of list

In [72]:
# Create list for int float string mix

l_i = [1,2,3,4,5,6,7,8]

print(type(l_i))
print(l_i)

<class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8]

In [73]:
# float

l_f = [1.1,1.2,1.3,1.4,1.5]

print(type(l_f))
print(l_f)

<class 'list'>
[1.1, 1.2, 1.3, 1.4, 1.5]

In [74]:
#create a list of string of fruits 12

l_s = ['mango,apple,banana,chiku,grapes,watermelon,orange,custerapple,pomogranate,lemon,kiwi,guvava,jackfruit']

print(type(l_s))
print(l_s)

<class 'list'>
['mango,apple,banana,chiku,grapes,watermelon,orange,custerapple,pomogranate,lemon,kiwi,guvava,jackfruit']

In [75]:
# mix list

l_m = [1,2,'python','stalk',1.1,1.3]

print(type(l_m))
print(l_m)

<class 'list'>
[1, 2, 'python', 'stalk', 1.1, 1.3]

In [76]:
# Accessing list items

list1 = [1,2,'python','stalk',1.1,1.3]

list1[2]

'python'

In [77]:
# slicing

print(list1[0:5])
print(list1[3:7])

[1, 2, 'python', 'stalk', 1.1]
['stalk', 1.1, 1.3]

In [78]:
#negative slicing
list1 = [1,2,'python','stalk',1.1,1.3]


print(list1[-4:-1])
print(list1[-5:-2])

['python', 'stalk', 1.1]
[2, 'python', 'stalk']

# Operations

In [79]:
# Available operations on list

list1.append
list1.clear
list1.copy
list1.count
list1.extend
list1.index
list1.insert
list1.pop
list1.remove
list1.reverse
list1.sort

In [80]:
# Append

list2 = [10,20,30,40,50,60,70,80]

print(list2)
print(type(list2))

list2.append(90)
print(list2)

[10, 20, 30, 40, 50, 60, 70, 80]
<class 'list'>
[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [81]:
# remove my name and index

print(list2)
list2.remove(10)
print(list2)

[10, 20, 30, 40, 50, 60, 70, 80, 90]
[20, 30, 40, 50, 60, 70, 80, 90]

In [82]:
# copy

list2 = list1.copy()
print(list2)

[1, 2, 'python', 'stalk', 1.1, 1.3]

In [83]:
# extend using list and single element

print(list2)

list2.extend([60])
print(list2)

print("\n")

list2.extend(list1)
print(list2)

[1, 2, 'python', 'stalk', 1.1, 1.3]
[1, 2, 'python', 'stalk', 1.1, 1.3, 60]


[1, 2, 'python', 'stalk', 1.1, 1.3, 60, 1, 2, 'python', 'stalk', 1.1, 1.3]

In [84]:
# index of value
print(list2)

print(list2.index(60))
print(list2.index('python'))
print(list2.index(1.1))

[1, 2, 'python', 'stalk', 1.1, 1.3, 60, 1, 2, 'python', 'stalk', 1.1, 1.3]
6
2
4

In [85]:
# insert value (index, value)

print(list2)
list2.insert(1,50)
print(list2)

[1, 2, 'python', 'stalk', 1.1, 1.3, 60, 1, 2, 'python', 'stalk', 1.1, 1.3]
[1, 50, 2, 'python', 'stalk', 1.1, 1.3, 60, 1, 2, 'python', 'stalk', 1.1, 1.3]

In [86]:
# pop and pop(value)
#this methode remove last element
# this methode remove only int values not sring and float 

print(list2)
print("\n")

list2.pop()
print(list2)

[1, 50, 2, 'python', 'stalk', 1.1, 1.3, 60, 1, 2, 'python', 'stalk', 1.1, 1.3]


[1, 50, 2, 'python', 'stalk', 1.1, 1.3, 60, 1, 2, 'python', 'stalk', 1.1]

In [87]:
print(list2)

print("\n")
list2.pop(2)
print(list2)

[1, 50, 2, 'python', 'stalk', 1.1, 1.3, 60, 1, 2, 'python', 'stalk', 1.1]


[1, 50, 'python', 'stalk', 1.1, 1.3, 60, 1, 2, 'python', 'stalk', 1.1]

In [88]:
#reverse
# this methode is show only reverse

print(list2)
print("\n")

list2.reverse()
print(list2)

[1, 50, 'python', 'stalk', 1.1, 1.3, 60, 1, 2, 'python', 'stalk', 1.1]


[1.1, 'stalk', 'python', 2, 1, 60, 1.3, 1.1, 'stalk', 'python', 50, 1]

In [89]:
# sort(reverse = True/False)

list = [1,2,3,4,5,6,7,8,9,10]

print(list)

list.sort(reverse=True)
print(list)
print("\n")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [90]:
print(list)

list.sort(reverse = False)
print(list)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(list)

list[2:4] = [0,0]

print(list)

# Tuple

1. tuple is orderd and unchangable
2. Immutable(yoou cant change the elements or cant add       elements     in tuple)
3. () are used to represent the tuple
4. Allow duplicates
5. tuples are read only versions of your list except list    is growable.

In [1]:
#List to tuple

a = [1,2,3,4,5,6,7,8,9]
print(a)
print(type(a))

b = tuple(a)
print(b)
print(type(b))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'list'>
(1, 2, 3, 4, 5, 6, 7, 8, 9)
<class 'tuple'>

In [2]:
#Tuple to List
a = (1,2,3,4,5,6)
print(a)
print(type(a))

b = list(a)
print(b)
print(type(b))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>
[1, 2, 3, 4, 5, 6]
<class 'list'>

In [3]:
# append in tuple
# since tuple is immutable you can't change the value inside
# to change the value you have to convert tuple into list and then make changes in it according to you

a = ("apple","banana","mango","orange")
print(a)
print(type(a),"\n")

b = list(a)
print(b)
print(type(b),"\n")

b.append("grapes")
print(b,"\n")

c = tuple(b)
print(c)
print(type(c))

('apple', 'banana', 'mango', 'orange')
<class 'tuple'>

['apple', 'banana', 'mango', 'orange']
<class 'list'>

['apple', 'banana', 'mango', 'orange', 'grapes']

('apple', 'banana', 'mango', 'orange', 'grapes')
<class 'tuple'>

In [4]:
# clear in tuple
# it clears all the elements in list
a = (10,20,30,40,50,60,70,80)
print(a)
print(type(a),"\n")

b = list(a)
print(b)
print(type(b),"\n")

b.clear()
print(b)

(10, 20, 30, 40, 50, 60, 70, 80)
<class 'tuple'>

[10, 20, 30, 40, 50, 60, 70, 80]
<class 'list'>

[]

In [4]:
# copy in tuple
# it creates a copy of your elements
a = (10,20,30,40,50,60,70,80,90)
print(a)
print(type(a),"\n")

b = list(a)
print(b)
print(type(b),"\n")

b.copy()
print(b)

(10, 20, 30, 40, 50, 60, 70, 80, 90)
<class 'tuple'>

[10, 20, 30, 40, 50, 60, 70, 80, 90]
<class 'list'>

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [5]:
# count in tuple
# it counts the one or duplicate elements in your list
a = (10,20,30,40,50,60,70,80,80,90,80)
print(a)
print(type(a),"\n")

a.count(80)

(10, 20, 30, 40, 50, 60, 70, 80, 80, 90, 80)
<class 'tuple'>

3

In [8]:
#extend in tuple 
#you can combine your two lists using extend
a = (10,20,30,40,50,60,70,80,90)
print(a)
print(type(a),"\n")

c = [100,110,120,130]

b = list(a)
print(b)
print(type(b),"\n")

b.extend(c)
print(b)

(10, 20, 30, 40, 50, 60, 70, 80, 90)
<class 'tuple'>

[10, 20, 30, 40, 50, 60, 70, 80, 90]
<class 'list'>

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130]

In [9]:
# index in tuple
# it gives the index of given value

a = (10,20,30,40,50,60,70,80,90)
print(a)
print(type(a),"\n")


a.index(90)

(10, 20, 30, 40, 50, 60, 70, 80, 90)
<class 'tuple'>

8

In [12]:
#insert in tuple
#with this you can insert any value or element at any specified location in list

a = (10,20,30,40,50,60,70,80,90)
print(a)
print(type(a),"\n")

b = list(a)
print(b)
print(type(b),"\n")

b.insert(9,100)
b.insert(10,110)
print(b)

(10, 20, 30, 40, 50, 60, 70, 80, 90)
<class 'tuple'>

[10, 20, 30, 40, 50, 60, 70, 80, 90]
<class 'list'>

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110]

In [13]:
# .pop in tuple
# it removes the given position element in your list & if not given it removes the last element
a = (10,20,30,40,50,60,70,80,90)
print(a)
print(type(a),"\n")

b = list(a)
print(b)
print(type(b),"\n")

b.pop()
print(b)

(10, 20, 30, 40, 50, 60, 70, 80, 90)
<class 'tuple'>

[10, 20, 30, 40, 50, 60, 70, 80, 90]
<class 'list'>

[10, 20, 30, 40, 50, 60, 70, 80]

In [14]:
# .remove in tuple
# with this you can remove any element in your list
a = (10,20,30,40,50,60,70,80,90)
print(a)
print(type(a),"\n")

b = list(a)
print(b)
print(type(b),"\n")

b.remove(80)
print(b)

(10, 20, 30, 40, 50, 60, 70, 80, 90)
<class 'tuple'>

[10, 20, 30, 40, 50, 60, 70, 80, 90]
<class 'list'>

[10, 20, 30, 40, 50, 60, 70, 90]

In [15]:
# .reverse in tuple
# it reverse your list
a = (10,20,30,40,50,60,70,80,90)
print(a)
print(type(a),"\n")

b = list(a)
print(b)
print(type(b),"\n")

b.reverse()
print(b)

(10, 20, 30, 40, 50, 60, 70, 80, 90)
<class 'tuple'>

[10, 20, 30, 40, 50, 60, 70, 80, 90]
<class 'list'>

[90, 80, 70, 60, 50, 40, 30, 20, 10]

In [16]:
# .sort in tuple
# it sorts your list in asscending order
a = (20,40,60,80,10,30,50,70,90)
print(a)
print(type(a),"\n")

b = list(a)
print(b)
print(type(b),"\n")

b.sort()
print(b,"\n")

(20, 40, 60, 80, 10, 30, 50, 70, 90)
<class 'tuple'>

[20, 40, 60, 80, 10, 30, 50, 70, 90]
<class 'list'>

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [17]:
# optional
# .reverse=True will sort the list descending
# .reverse=False will sort the list asscending
a = (20,40,60,80,10,30,50,70,90)
print(a)
print(type(a),"\n")

b = list(a)
print(b)
print(type(b),"\n")

b.sort(reverse=True)
print(b,"\n")


b.sort(reverse=False)
print(b,"\n")

(20, 40, 60, 80, 10, 30, 50, 70, 90)
<class 'tuple'>

[20, 40, 60, 80, 10, 30, 50, 70, 90]
<class 'list'>

[90, 80, 70, 60, 50, 40, 30, 20, 10]

[10, 20, 30, 40, 50, 60, 70, 80, 90]

# Set

1. set is unorderd collection of elements
2. It is mutable
3. It is growable
4. Set items are unchangable
5. {} are used to represent set
6. Index concept is not applicable
7. duplicates are not allowed



There are 18 methods in set function as follow:-

1.add
2.clear
3.copy
4.difference
5.difference_update
6.discard
7.intersection
8.intersection_update
9.isdisjoint
10.issubset
11.issuperset
12.mro
13.pop
14.remove
15.symmetric_difference
16.symmetric_difference_update
17.union
18.update

In [122]:
s = {1,2,3,4,'sagar','akash','pradip'}
print(type(s))

print(s)

<class 'set'>
{1, 2, 3, 4, 'pradip', 'akash', 'sagar'}

In [123]:
print(len(s))

7

In [124]:
# set () constructer
s1 = set([1,2,3,4])
print(s1)

set1 = set(['apple','mango','cherry','banana'])
print(type(set1))
print(set1)

{1, 2, 3, 4}
<class 'set'>
{'banana', 'mango', 'cherry', 'apple'}

In [126]:
# Adding elements to the set
# once set is created u can not change elements value,but you
#can add values
set1 = set(['apple','mango','cherry','banana'])
print(set1)
set1.add("papaya")

print(set1)

{'banana', 'mango', 'cherry', 'apple'}
{'banana', 'mango', 'papaya', 'apple', 'cherry'}

In [127]:
# using update you can add any iterables items like 
# set, list,tuple,dict-keys

set2 = {100,200,300}
print(set2)
print("\n")

tup =(10,20,30)
print(tup)
print("\n")

print(set1)
print(set2)
print("\n")

set1.update(set2)
set1.update(tup)

print("\n")
print(set1)

{200, 100, 300}


(10, 20, 30)


{'banana', 'mango', 'papaya', 'apple', 'cherry'}
{200, 100, 300}




{100, 'banana', 200, 'mango', 10, 'papaya', 300, 'apple', 20, 'cherry', 30}

In [128]:
#remove(), discard(),pop()
print("remove using remove():\n",set1)

#remove()methode raise an error if element not present
set1.remove('cherry')
print(set1)
print("\n")

print("remove using discard():\n",set1)
#discard does not raise an error if element does not exist
set1.discard("papaya")
print(set1)
print("\n")

#pop(): pop removes an arbitary element from set and returns it

print(set1)
ele = set1.pop()
print("poped element is:",ele)
print(set1)

remove using remove():
 {100, 'banana', 200, 'mango', 10, 'papaya', 300, 'apple', 20, 'cherry', 30}
{100, 'banana', 200, 'mango', 10, 'papaya', 300, 'apple', 20, 30}


remove using discard():
 {100, 'banana', 200, 'mango', 10, 'papaya', 300, 'apple', 20, 30}
{100, 'banana', 200, 'mango', 10, 300, 'apple', 20, 30}


{100, 'banana', 200, 'mango', 10, 300, 'apple', 20, 30}
poped element is: 100
{'banana', 200, 'mango', 10, 300, 'apple', 20, 30}

In [129]:
# Union
# adds elemnts of two sets and create new set
s1 = {1,2,3,4}
s2 = {3,4,5,6,7}

print(s1)
print(s2)

res = s1.union(s2)
print(res)
#update method work for union only but adds element to calling set

{1, 2, 3, 4}
{3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [130]:
#Intersection

s3 = {1,2,10,20,30}
print(s1)
print(s2)
print(s3)
print("\n")

res = s1.intersection(s2)
print(res)

#keeps duplicates in s1
s1.intersection_update(s3)
print(s1)

{1, 2, 3, 4}
{3, 4, 5, 6, 7}
{1, 2, 20, 10, 30}


{3, 4}
{1, 2}

In [23]:
#isdisjoint
#it check if two sets have any elements in common
set1 = {1,2,3}
set2 = {4,5,6}
set3 = {3,4,5}

print(set1.isdisjoint(set2))
print(set1.isdisjoint(set3))

True
False

In [25]:
#issubset
# it checks if one set is a subset of another set
set1 = {1,2,3}
set2 = {1,2}
set3 = {4,5}

print(set2.issubset(set1))
print(set3.issubset(set1))

True
False

In [26]:
# .issuperset
# it checks if one set is a superset of another set
set1 = {1, 2, 3}
set2 = {1, 2}
set3 = {4, 5}

print(set1.issuperset(set2))
print(set1.issuperset(set3))

True
False

In [27]:
# .symmetric_difference
# it checks if elements that are unique to each of two sets
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

result_set = set1.symmetric_difference(set2)

print(result_set)

{1, 2, 5, 6}

In [28]:
# .symmetric_difference_update
# this method is useful for updating a set with the elements that are unique to each of two sets
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

set1.symmetric_difference_update(set2)

print(set1)

{1, 2, 5, 6}

# Dictionary

  1. stores data in key.value pair
  2. It is orderd, changable and does not allow duplicate 
  3. {} are used to write dictionaries
  4. Items are reffered by using key
  5. From Python version 3.7 dictionaries are orderd.

In [131]:
# Creation Dictionaries

dict1 = {                             

     1 : "Anjali",
     2 : "Darshana",
     3 : "Meghana"
     

}

print(dict1)

{1: 'Anjali', 2: 'Darshana', 3: 'Meghana'}

In [132]:
# Access

# Directly access using key
# using get method

# using keys
print(dict1[1])
print(dict1[2])
print(dict1[3])

# using get method
dict1.get(1)

             #or
    
    
print("Acess dicts using get() method:")    
val = dict1.get(1)
print(val)

Anjali
Darshana
Meghana
Acess dicts using get() method:
Anjali

In [133]:
stud = {                              
     "roll no" : 10,
    "name" : " Meghana",
    "class" :"TE",
     "marks" : 89.90
    
} 
print(stud) # sets are unorderd

l = {10,5,4,2,25}
print(l)

# access the elements

val = stud['name']
print(val)

print(stud['marks'])

{'roll no': 10, 'name': ' Meghana', 'class': 'TE', 'marks': 89.9}
{2, 4, 5, 25, 10}
 Meghana
89.9

In [134]:
# access all keys

print(stud)
print("Keys:\n")
k = stud.keys()
print(k)

print("values:\n")
val = stud.values()
print(val)

{'roll no': 10, 'name': ' Meghana', 'class': 'TE', 'marks': 89.9}
Keys:

dict_keys(['roll no', 'name', 'class', 'marks'])
values:

dict_values([10, ' Meghana', 'TE', 89.9])

In [135]:
# add new item
stud = {                              
     "roll no" : 10,
    "name" : " Meghana",
    "class" :"TE",
     "marks" : 89.90
    
} 


print(stud)

stud['lname'] = 'patil'

stud['city'] = 'pune'

stud['mobile'] = 1234567891
print(stud)
print("\n")
print(stud.keys())
length = len(stud.keys())
print(stud.values())
print("No. of keys:",length)

{'roll no': 10, 'name': ' Meghana', 'class': 'TE', 'marks': 89.9}
{'roll no': 10, 'name': ' Meghana', 'class': 'TE', 'marks': 89.9, 'lname': 'patil', 'city': 'pune', 'mobile': 1234567891}


dict_keys(['roll no', 'name', 'class', 'marks', 'lname', 'city', 'mobile'])
dict_values([10, ' Meghana', 'TE', 89.9, 'patil', 'pune', 1234567891])
No. of keys: 7

In [136]:
## How to access key and values from dictionary

stud.items()

dict_items([('roll no', 10), ('name', ' Meghana'), ('class', 'TE'), ('marks', 89.9), ('lname', 'patil'), ('city', 'pune'), ('mobile', 1234567891)])

In [137]:
# change value

print(stud.items())
print("\n")

stud['class'] = 'BE'

stud['marks'] = 91.0

print('\n',stud.items())

dict_items([('roll no', 10), ('name', ' Meghana'), ('class', 'TE'), ('marks', 89.9), ('lname', 'patil'), ('city', 'pune'), ('mobile', 1234567891)])



 dict_items([('roll no', 10), ('name', ' Meghana'), ('class', 'BE'), ('marks', 91.0), ('lname', 'patil'), ('city', 'pune'), ('mobile', 1234567891)])

In [138]:
# Update() : add one more key:value pair 
print(stud.items())
stud.update({
    "subject" : 'maths',
    "email" : 'abc@.com'
    
})

print("\n",stud.items())

dict_items([('roll no', 10), ('name', ' Meghana'), ('class', 'BE'), ('marks', 91.0), ('lname', 'patil'), ('city', 'pune'), ('mobile', 1234567891)])

 dict_items([('roll no', 10), ('name', ' Meghana'), ('class', 'BE'), ('marks', 91.0), ('lname', 'patil'), ('city', 'pune'), ('mobile', 1234567891), ('subject', 'maths'), ('email', 'abc@.com')])

# Frozenset

In [139]:
# frozen set is same as set but it is immutable

set_1 = {1,2,3,4,5,6}

print(type(set_1))
print(set_1)

s = frozenset(set_1)

print(s)
print(type(s))

# supported methodes for frozen set

s1 = s.copy()

s.difference()
s.intersection()
s.isdisjoint
s.issubset
s.issuperset
s.symmetric_difference
s.union

print(s1)
print(type(s1))

<class 'set'>
{1, 2, 3, 4, 5, 6}
frozenset({1, 2, 3, 4, 5, 6})
<class 'frozenset'>
frozenset({1, 2, 3, 4, 5, 6})
<class 'frozenset'>

# Operators

python operators:

     1. Arithmetic operators
     2. Assignment operators
     3. Comparison operators
     4. Logical operators
     5. Identity operators
     6. Membership operators
     7. Bitwise operators

# 1. Arithmatic operators

1. + Addition x + y
2. - Subtraction x - y
3. * Multiplication x * y
4. / Division x / y
5. % Modulus x % y
6. ** Exponentiation x ** y
7. // Floor division x // y

In [140]:
val1 = 10
val2 = 22

print("val1= ",val1)
print("val2= ",val2)
print("\n")

print("Addition:")

res = val1 + val2

print("Add: ",res)

print("\n")

print("subtraction:")

res = val2 - val1

print("sub: ",res)

print("\n")

print("Multiplication:")

res = val1 * val2

print("mul: ",res)

print("\n")

print("Division:")

res = val1 / val2

print("div: ",res)

print("\n")

print("Modulus:")

res = val2 % val1

print("Mod: ",res)

print("\n")

print("Exponent:")

res = val2 ** val1

print("Exp: ",res)

print("\n")

print("Floor Division:")

res = val2 // val1

print("Floor div: ",res)

val1=  10
val2=  22


Addition:
Add:  32


subtraction:
sub:  12


Multiplication:
mul:  220


Division:
div:  0.45454545454545453


Modulus:
Mod:  2


Exponent:
Exp:  26559922791424


Floor Division:
Floor div:  2

# 2. Assignment Operators

In [ ]:
1. = x = 5 x = 5
2. += x += 4 x = x + 4
3. -= x -= 5 x = x - 5
4. *= x *= 8 x = x * 8
5. /= x /= 7 x = x / 7
6. %= x %= 5 x = x % 5
7. //= x //= 3 x = x // 3
8. **= x **= 2 x = x ** 2
9. &= x &= 2 x = x & 2
10. |= x |= 2 x = x | 2
11. ^= x ^= 4 x = x ^ 4
12. >>= x >>= 4 x = x >> 4
13. <<= x <<= 5 x = x << 5

In [5]:
# simple assign
x = 5
x

5

In [6]:
# add and assign
x += 100
x

105

In [7]:
# subtract and assign
x -= 50
x

55

In [8]:
# multiplication and assign
x *= 2
x

110

In [9]:
# div and assign
x /= 10
x

11.0

In [10]:
# Modulo and assign
x %= 2
x

1.0

In [11]:
res = 110 / 10
res

11.0

In [17]:
# floor div and assign
x //= 2
x

0.0

In [13]:
res = 11 / 4
res

2.75

In [14]:
# Floor division and assign
res = 11 // 4
res

2

In [15]:
# exponent and assign

x **= 10
x

0.0

# 3. Comparision operators

1. Equal to (==)
2. Not equal to ( != )
3. Greater than (>)
4. Less than (<)
5. Greater than or equal to (>=)
6. Less than or equal to (<=)

1. == Equal x == y => checks the equality of operands , returns the True

Ex. 6 == 6  -> True
6 == 7 -> False

2. != Not equal x != y
Ex. 5 != 5 -> False
    5 != 6 -> True
    
3. > Greater than x > y
Ex. 4 > 5  -> False
    5 > 2  -> True
    
4. < Less than x < y
Ex. 4 < 5  -> True
    5 < 2  -> False
    
5. >= Greater than or equal to x >= y
Ex. 5 >= 5  -> True
    6 >= 5  -> True
    4 >= 5  -> False
    
6. <= Less than or equal to x <= y
Ex. 5 <= 5  -> True
    6 <= 5  -> False
    4 <= 5  -> True

In [152]:
a = 20
b = 10
c = 10

print("Equality:")

print(a == b)
print(b == c)

print("\n")

print("Not Equal:")
print(a != b)
print(b != c)

print("\n")

print("Greater than:")
print(a > b)
print(b > c)

print("\n")

print("Less than:")
print(a < b)
print(b < c)
print(b < a)

print("\n")

print("Greater than or Equal to:")
print(a >= b)
print(b >= c)

print("\n")

print("Less than or Equal to:")
print(a <= b)
print(b <= c)
print(b <= a)

Equality:
False
True


Not Equal:
True
False


Greater than:
True
False


Less than:
False
False
True


Greater than or Equal to:
True
True


Less than or Equal to:
False
True
True

# 4. Logical Operators

1. and (Returns True, if both conditions are true)
2. or (Returns True, if one of the condition is True)
3. not (Reverse the result,returns False if the result is true)

In [19]:
#1. and returns true if both conditions are true

x = 3
x < 5 

x < 4

print((x < 5) and (x < 4))
    
print((x < 5) and (x > 4))

print("\n")
    
#2.or returns true if any one conditions is true

x = 3
x > 5 

x < 4 

print((x > 5) or (x < 4))
    
print((x < 5) or (x > 4))

print("\n")
    
#3. not Reverse the result, returns False if the result is true
 
print(not (x < 5))

True
False


True
True


False

# 5. Identity Operator

1. is ( Returns True if both variables are the same object x is y)

2. is not(Returns True if both variables are not the same object x is not y)

In [154]:
x = 10
y = 10


print("Value of x: ",x)
print("id of x: ",id(x))
print("Value of y: ",y)
print("id of y: ",id(y))
print(x is y)

print("\n")

x = 10.10
y = 10.10

print("Value of x:",x)
print("x id is: ",id(x))
print("Value of y: ",y)
print("y id is: ",id(y))
print(x is not y)

Value of x:  10
id of x:  140737172788296
Value of y:  10
id of y:  140737172788296
True


Value of x: 10.1
x id is:  2010418692304
Value of y:  10.1
y id is:  2010421127888
True

# 6. Membership Operator

1. in (Returns True if a sequence with the specified value is present in the object)
Ex. x in y

2. not in (Returns True if a sequence with the specified value is not present in the object)
Ex. x not in y

In [1]:
list1 = [10,20,30,40,50]
print(list1)

print(10 in list1)

print(15 in list1)

print(30 not in list1)

print(15 not in list1)

[10, 20, 30, 40, 50]
True
False
False
True

# 7.Bitwise Operator

1. & AND Sets each bit to 1 if both bits are 1
2. | OR Sets each bit to 1 if one of two bits is 1
3. ^ XOR Sets each bit to 1 if only one of two bits is 1
4. - NOT Inverts all the bits
5. << Zero fill left shift shift left by pushing zeros in from the right and let the leftmost bits fall off
6. >> Signed right shift shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off

1. &:
ex. 1 & 1 => 1
    1 & 0 => 0
    0 & 1 => 0
    0 & 0 => 0
    
2. |:
    1 | 1 => 1
    1 | 0 => 1
    0 | 1 => 1
    0 | 0 => 0
    
3. ^:
    1 & 1 => 0
    1 & 0 => 1
    0 & 1 => 1
    0 & 0 => 0
    
4. -:
     1 => 0
     0 => 1
     
     
     256  128  64  32  16  8  4  2  1
                              0  0  0 = 0
                              0  0  1 = 1
                              0  1  0 = 2
                              0  1  1 = 3
                              1  0  0 = 4
                              1  0  1 = 5
                              1  1  0 = 6
                              1  1  1 = 7
                              
                              Left Shift by 2 bits
                              1 1 1 = 7
                         1 1  1 0 0 = 28
                              
                              Right   shift by 2 bits
                                1 1 1 = 7
                                0 0 1 = 1

In [39]:
print("Bitwise and ")
x = 4      # 1 0 0
y = 5      # 1 0 1
z = x & y  # 1 0 0 = 4
print(z)

print('Bitwise or')
x = 4       # 1 0 0
y = 5       # 1 0 1
z = x | y   # 1 0 1 = 5
print(z)

print('Bitwise XOR')
x = 4      # 1 0 0
y = 5      # 1 0 1
z = x ^ y  # 0 0 1 = 1
print(z)

print('Bitwise Not')
x = 4      # 1 0 0
z = -4     # 0 0 1
print(z)


x = 7
z = x << 2
print("Left Shift:\n")
print(z)

x = 7
z = x >> 2
print('Right Shift:\n')
print(z)

print("\n",oct(x))
print("\n",hex(x))

Bitwise and
4
Bitwise or
5
Bitwise XOR
1
Bitwise Not
-4
Left Shift:

28
Right Shift:

1

 0o7

 0x7

# Conditional Statements & Loops

1. If ....Else
2. If ..elif ...Else
3. While Loops
4. For Loops

#Syntax:
    
if <condition> :
    print("When condition is true")
    statements - 1
    statements - 1
    statements - 1
else:
    print("When condition is false")
    statements - 1
    statements - 1
    statements - 1

# If else condition

In [4]:
# a > b
x = 100
y = 20
#find largest number

if x < y:
    print("x is less than y")
    
else:
    print("x is greater than y")

x is greater than y

# If elif else condition

In [8]:
a = 10
b = 10

if a > b:
    print("A is greater than B")
elif a == b:
    print("A and B are equal")
    
else:
    print("A is less than B")

A and B are equal

In [11]:
x = 100
y = 50

if x > y:
    print("x is greater than y")

else: 
    print("x is less than y")

x is greater than y

In [13]:
x = 50
y = 50

if x > y:
    print("x is greater than y")
    
elif x == y:
    print("x and y is equal")
    
else:
    print("x is less than y")

x and y is equal

In [159]:
# a > b, a == b, a < b
x = 20
y = 30

if x > y:
    print("x is larger")
elif x == y:
    print("x and y are equal")
else:
    print("y is greater than x")

y is greater than x

In [21]:
# short hand if a > b: print('a is greater than b') 
# Short hand means write ans in single statement.
#1)
x = 10
y = 20

if y > x: print('y is greater than x','\n')
    
#2)
a = 23
b = 23

if a == b: print('a is equal to b','\n')
    
#3)
c = 76
d = 34

if c > d: print('c is grater than d')

y is greater than x

a is equal to b

c is grater than d

In [22]:
# short hand if else print("A")if a > b else print('B')
#1)
X = 20
Y = 10

print('x is less than y') if x < y else print('x is greater than y','\n')

#2)
a = 54
b = 56

print('a is not equal to b') if a != b else print('a is equal to b','\n')

#3)
c = 78
d = 78

print('c is not equal to d')if c != d else print('c is equal to d','\n')

x is less than y
a is not equal to b
c is equal to d

In [1]:
# Pass statement

x = 78
y = 67

if x < y:
    print('x is greater than y')
    pass

# you can add more conditions here in if else

write a python  programme which will take percentage as input from user and returns its grade(dist, first class, 2nd class, pass class)

In [56]:
x = int and float(input('Enter percentage:'))

if x < 35:
    print('fail')
elif x <= 55:
    print('2 nd class')
elif x <= 75:
    print('first class')
    
else:
    print('distinction')

Enter percentage:88
distinction

In [2]:
#Ex - 1
x = (int and float(input('Enter percentage')))
y = (int and float(input('Enter percentage')))

if x > y:
    print('x is greater than y')
elif x < y:
    print('x is pass')
elif y <= x:
    print('y is pass with dist')
else:
    print('pass')

Enter percentage88
Enter percentage90
x is pass

In [52]:
#Ex -2
x = str(input('Enter number:'))
y = str(input('Enter number:'))

if x == y:
    print('x is equal to y')
elif x > y:
    print('x is greater than y')
elif y < x:
    print('y is less than x')
elif x != y:
    print('x is not equal to y')
else:
    print('x is less than y')

Enter number:abc
Enter number:abcd
x is not equal to y

In [49]:
#Ex -3
x = 88
y = 99

if x == y:
    print('x is equal to y')
elif x > y:
    print('x is greater than y')
elif y < x:
    print('y is less than x')
elif x != y:
    print('x is not equal to y')
else:
    print('x is less than y')

x is not equal to y

In [26]:
# nested if... else

x = 200
if x > 190:
    if x > 200:
        print('Number is greater than 190 and 200')
    elif x == 200:
        print('Number is equal to 200')
    else:
        print('Number is greater than 190 and less than 200')
elif x == 190:
    print('Number is equal to 190')
else:
    print('Number is less than 190')

Number is equal to 200

In [29]:
# pass statement
x = 10
y = 20

if y > x:
    pass

# While Loop

1.The purpose of the while loop is to access the element of list and Tuple. 

2.It is used for only to list and tuple because
they are ordered.

In [ ]:
# there are two types of loops is there
1. while loop 
2. for loop

while <condition> :
    statement -1
    statement -2

In [24]:
# print series of numbers
x = 1

while x <= 10:
    print(x)
    x = x + 1

1
2
3
4
5
6
7
8
9
10

In [25]:
# break statement

x = 1
while x <= 20:
    print(x)
    if x == 15:
        break
    x = x + 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [95]:
# Continue statement
# if u remove 2 numbers at a time then place (or) in those numbers

x = 1

while x <= 20:
    
    if x == 10 or x == 18: 
        x = x + 1
        continue
    print(x)
    x = x + 1

1
2
3
4
5
6
7
8
9
11
12
13
14
15
16
17
19
20

In [88]:
#else below while
x = 0    
while x <= 10:
    
    if x == 5:
        x += 1
        continue
    print(x)   
    x += 1
else:
    print('its enought')

0
1
2
3
4
6
7
8
9
10
its enought

In [89]:
# while on list and tuple
list1 = ['tulip','rose','sunflower','chafa','mogara']

print(list1)

print('while on list:-')

x = 0
while x < len(list1):
    print(list1[x])
    x += 1

['tulip', 'rose', 'sunflower', 'chafa', 'mogara']
while on list:-
tulip
rose
sunflower
chafa
mogara

In [93]:
# for practice

list1 = ['one','two','three','four','five','six','seven']
print(list1)

print('while on list:')

x = 0
while x < len(list1):
    print(list1[x])
    x += 1

['one', 'two', 'three', 'four', 'five', 'six', 'seven']
while on list:
one
two
three
four
five
six
seven

In [94]:
# while on Tuple

tup =('mango','apple','banana','grapes','orange')

print(tup)

print('while on tuple:')

x = 0
while x < len(tup):
    print(tup[x])
    x += 1

('mango', 'apple', 'banana', 'grapes', 'orange')
while on tuple:
mango
apple
banana
grapes
orange

# For Loop

1. The purpose of the for loop is to used access the elements of only sets and dictionary and string because they are unorderd.

2. we can use for while loop for list and tuple but for set and dict is used only for loop.

3.For Loop:- list,tuple,set,dict,string

4.It does not access the location or index, it directly collect the whole data.

5.It iterates all values not single value,( in short it acess multiple values not single value)

# For loop for list

In [26]:
#List

list1 = ['mango','cherry','papaya','blueberry','apple']

print(list1)
print('Length: ',len(list1))

for x in list1:
    print(x)

['mango', 'cherry', 'papaya', 'blueberry', 'apple']
Length:  5
mango
cherry
papaya
blueberry
apple

In [20]:
list1 = ['mango','cherry','papaya','blueberry','apple']

for i in list1:
    if i == 'papaya':
        print(i)

papaya

# For Loop for string

In [28]:
#String

str1 = 'This is a python string'

print(str1)

for ch in str1:
    print(ch)

This is a python string
T
h
i
s

i
s

a

p
y
t
h
o
n

s
t
r
i
n
g

# for loop for Tuple

In [29]:
#Tuple

tup = (100,200,300,10,20,30)

print(tup)

for val in tup:
    print(val)

(100, 200, 300, 10, 20, 30)
100
200
300
10
20
30

# continue and break function in tuple

In [34]:
#continue function in Tuple

tup = (100,200,300,10,20,30)

print(tup)

for val in tup:
    if val == 10:
        continue
        
    print(val)

(100, 200, 300, 10, 20, 30)
100
200
300
20
30

In [39]:
#Break function in tuple

tup = (100,200,300,10,20,30)

print(tup)

for val in tup:
    if val==10:
        break
        
    print(val)

(100, 200, 300, 10, 20, 30)
100
200
300

# For Loop for Dictionary

In [42]:
dict1 = {
    'fname': 'Akshay',
    'lname': 'kale',
   'mobile': 12345,
    'email': 'abcd@.com'
    
}

print(dict1)

print('keys:')
for i in dict1: # it will print keys by default
    print(i)
print('\n')

print('values:') # it will print values
for i in dict1:
    print(dict1[i])
print('\n')

print('Another methode to print keys and values')    
for keys in dict1.keys(): # another methode to print keys and values
        print(keys)
print('\n')
        
print('keys and values pairs: ')        
for keys, values in dict1.items():
    print(keys,':', values)
    
 #(rohit ne kelela)

{'fname': 'Akshay', 'lname': 'kale', 'mobile': 12345, 'email': 'abcd@.com'}
keys:
fname
lname
mobile
email


values:
Akshay
kale
12345
abcd@.com


Another methode to print keys and values
fname
lname
mobile
email


keys and values pairs:
fname : Akshay
lname : kale
mobile : 12345
email : abcd@.com

In [43]:
#Ex for practice (sirani kelela)

dict1 = {
    'Name' : 'Monali',
  'Roll no': 45,
    'class': 'TY.BBA IB',
'percentage': 80.50
       
}

print('Default it will print keys: ')
for i in dict1:
    print(i)
print('\n')    

print('values: ')
for x in dict1:
    print(dict1[x])
print('\n')    

print('Acess keys of dict1: ')
for key in dict1.keys():
    print(key)
print('\n')


print('Acess the value: ')
for val in dict1.values():
    print(val)
print('\n')    


print('keys value from dict1:')
for key, val in dict1.items():
    print(key,':', val)

Default it will print keys:
Name
Roll no
class
percentage


values:
Monali
45
TY.BBA IB
80.5


Acess keys of dict1:
Name
Roll no
class
percentage


Acess the value:
Monali
45
TY.BBA IB
80.5


keys value from dict1:
Name : Monali
Roll no : 45
class : TY.BBA IB
percentage : 80.5

# For Loop for set

In [46]:
# Set 

set1 = {'mango','banana','cherry','apple','chiku'}

print(set1)
print('length:',len(set1))

for i in set1:
    print(i)

{'chiku', 'mango', 'apple', 'banana', 'cherry'}
length: 5
chiku
mango
apple
banana
cherry

# Range

1. The purpose of the range is(to return a sequence of numbers, starting from 0 by default, and incriments by 1 (by default), and ends at a specified number.

In [1]:
# For i in range (10):

for no in range(10):
    print(no)

0
1
2
3
4
5
6
7
8
9

In [48]:
# Range(1,10)- starting from 1, to 9, exclude 10

for val in range(10,20):
    print(val)

10
11
12
13
14
15
16
17
18
19

In [50]:
# range (10,100,2)

for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [2]:
# Print odd no. from 1 to 50

for i in range(1,50,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [56]:
# else in for
for i in range (100,201,10):
    print(i)
else: 
    print('its enought')

100
110
120
130
140
150
160
170
180
190
200
its enought

# Assignment - 1

In [65]:
# How to take input from user

a = int(input('Enter the number'))
b = int (input('Enter another no.'))

s = a + b

print('sum: ',s)

Enter the number100
Enter another no.200
sum:  300

In [82]:
#Create a integer list,tuple,set by taking input from user

list1 = []

list_size = input('Enter the size of list:')
lsize = int(list_size)

while lsize > 0:
    val = input('Enter the value:')
    val1 = int(val)
    list1.append(val1)
    lsize -= 1
    
print('The created list is: ',list1)

Enter the size of list:4
Enter the value:1
Enter the value:2
Enter the value:3
Enter the value:4
The created list is:  [1, 2, 3, 4]

In [85]:
# for practice (create a list)
list2 = []

for i in range(0,101,3):
    list2.append(i)
    

print(list2)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [4]:
# Create integer tuple by taking input from user

tup =()

tup_size = int(input('Enter the size of tuple: '))

while tup_size > 0:
    val = int(input('Enter the val:'))
    tup += (val,)
    tup_size = tup_size -1
        

print(tup)

Enter the size of tuple: 5
Enter the val:10
Enter the val:20
Enter the val:30
Enter the val:40
Enter the val:50
(10, 20, 30, 40, 50)

In [93]:
# For set

s = set({})

set_size = int(input('Enter the size of set: '))

while set_size > 0:
    val = input('Enter the value: ')
    s.add(val)
    set_size -= 1
print('Created set is:',s)

Enter the size of set: 6
Enter the value: 1
Enter the value: 2
Enter the value: 3
Enter the value: 4
Enter the value: 5
Enter the value: 6
Created set is: {'1', '3', '4', '6', '5', '2'}

# Function

1. Function is a block of statement which will get executed when we call that function.

2.function is a thing to complete a particular task.

In [1]:
def display():
    print('This is inside my function')
    
display()

This is inside my function

In [3]:
print('statment above function')

def display():
    print('This is inside my function')
    
display()

statment above function
This is inside my function

In [4]:
print('statment above function')

def display():
    print('This is inside my function')
    print('this is another statement')
    
print('This is a prior statement')    
display()
print('this is sample statement')

statment above function
This is a prior statement
This is inside my function
this is another statement
this is sample statement

In [5]:
# Argument

def display(val):
    print('The value is: ', val)
    
value =100

display(value)

The value is:  100

In [16]:
# passing two arguments to function

def add(a,b):
    addition = a + b
    print("The sum is: ", addition)
    
x = int(input('Enter first number'))    
y = int(input('Enter second number'))

add(x,y)

Enter first number100
Enter second number200
The sum is:  300

In [17]:
# return value

def mul(a,b):
    res = a * b
    return res

x = 20
y = 40

result = mul(x,y)
print('Final multiplication: ',result)

Final multiplication:  800

In [3]:
#Assignment

list1 = []

def studdetails():
    for i in range(0,3):
        fname = input('Enter the first name: ')
        lname = input('Enter the last name: ')
        print('name of student is : ', fname," ", lname )
        name = fname + lname
        list1.append(name)
        
print("Making a call to function: ","\n")        
print("\n")

studdetails()
print("\n")

print("List of the students: ", list1)
print("\n")

Making a call to function:



Enter the first name: meghana
Enter the last name: raut
name of student is :  meghana   raut
Enter the first name: mohit
Enter the last name: raut
name of student is :  mohit    raut
Enter the first name: soham
Enter the last name: rj
name of student is :  soham   rj


List of the students:  ['meghanaraut', 'mohit raut', 'sohamrj']

In [7]:
#Create a list
def create_list():
    num_items = int(input("Enter the number:"))
    my_list = []
    
    for i in range(num_items):
        item = input("Enter item{}: ".format(i+1))
        my_list.append(item)
        
    return my_list    

my_list = create_list()
print("Your list: ",my_list)

Enter the number:4
Enter item1: 10
Enter item2: 20
Enter item3: 30
Enter item4: 40
Your list:  ['10', '20', '30', '40']

In [28]:
#UNKNOWN PARAMETERS
#There may be the case where u dont know the parameters

def display(*letter):
    print("Printing all parameters:",letter)
    l = len(letter)
    print("No. of parameter are:",l)
    for x in letter:
        print(x)
        
display('A','B',"This is string",'C','D','E')

Printing all parameters: ('A', 'B', 'This is string', 'C', 'D', 'E')
No. of parameter are: 6
A
B
This is string
C
D
E

In [32]:
#argument as key value pair where order does not matter

def display(val_1,val_3,val_2):
    print("The third value is: ",val_3)
    print("The first value is: ",val_1)
    
display(val_1 = 100, val_2 = 200, val_3 = 300)

The third value is:  300
The first value is:  100

In [5]:
#if dont know number of parameter then  add **before identifier

def my_function(**name):
    print("Her first name is: ",name)
    print("Her first name is: ",name['fname'])
    
my_function(fname = "Shravani", lname = "Raut")

Her first name is:  {'fname': 'Shravani', 'lname': 'Raut'}
Her first name is:  Shravani

In [37]:
# Default value to parameter

def AltEmail(email = "default@email.com"):
    print("Alternate email is : ",email)

print("Alternate email of student:")

AltEmail("megh@gmail.com")
AltEmail("a@b.com")
AltEmail()

Alternate email of student:
Alternate email is :  megh@gmail.com
Alternate email is :  a@b.com
Alternate email is :  default@email.com

# Lambda Function

1. Lambda is a small anonymous function.

2. Lambda function can take any number of arguments, but can only have one expression.

syntax:

lambda arguments: expression

why Lambda?

Lambda is anonymous and small function but it is very powerful. we can know its power if we use it inside other function.

In [7]:
# a lambda function which takes an argument and returns 
# a square of that number

square = lambda num : num ** 2

print("Find the square of 10:")
print(square(10))

print("Find the square of 20:")
print(square(20))

Find the square of 10:
100
Find the square of 20:
400

In [5]:
# Any number of arguments
# U can take any no. of parameter

add = lambda x,y,z : x+y+z

print("Find addition of 3 numbers:")

add(10,20,30)

Find addition of 3 numbers:

60

In [11]:
subtract = lambda x,y : x - y

print('Find subtraction of 2 numbers:')

x = 60
y = 20

(x - y)

Find subtraction of 2 numbers:

40

In [9]:

def myfun(n):
    print("Value of n: ", n)
    return (lambda a : a ** n)

otherfun = myfun(2)
print(otherfun(19))

Value of n:  2
361

In [12]:
double = lambda x : x * 2
print("Double the number: ")
print(double(10))

tripple = lambda y : y * 3

print('Tripple the number: ')
print(tripple(20))

Double the number:
20
Tripple the number:
60

In [13]:
def fun(y):
    print('The value of y: ', y)
    return(lambda x: x * y)

double = fun(2)

print(double(10))

The value of y:  2
20

In [14]:
#These are the some ex. of lambda
str1 = 'GeeksforGeeks'

rev_upper = lambda string: string.upper()
print(rev_upper(str1))

GEEKSFORGEEKS

In [17]:
str_1 = "this is a python"

rev_upper = lambda string: string.upper()
print(rev_upper(str_1)

THIS IS A PYTHON

In [45]:
adder = lambda x , y: x + y
print(adder(1,2))

3

In [47]:
string = "some kind of a useless lambda"

print(lambda string : print(string))

<function <lambda> at 0x00000214F97200E0>

In [1]:
x = " lambda is a big shit"
(lambda x : print(x))(x)

 lambda is a big shit

# Class

There are two types of class 
1.Simple class
2. Real class

Python is a object oriented language so in python evrything is object, which has its properties and methodes/ function

python is object oriented programming language.

class is blueprint of an object, from which object can be created.


Syntax:

class ClassName:
     class body

In [11]:
#Simple class:

class employee:
    eid = "emp-1"
    ename = "John"
    salary = 20000
    
#create a object
e = employee()

print("Details of employee:")
print('ID: ',e.eid)
print('Name: ',e.ename)
print('Salary: ',e.salary)

Details of employee:
ID:  emp-1
Name:  John
Salary:  20000

In [15]:
#Real class Example:
(real class have __init__ methode, where simple class have none

class employee:
    def __init__(self,id_1,name_1,salary_1,mobile_1):
        self.eid = id_1
        self.ename = name_1
        self.esalary = salary_1
        self.emobile = mobile_1
        
o1 = employee(101,'Akshay',20000,9890673474)        

print('Employee Details are:')
print("ID: ",o1.eid)
print("Name: ",o1.ename)
print("salary: ",o1.esalary)
print("mobile: ",o1.emobile)

print("\n")

o2 = employee(102,'Arun',45000,7654329810)

print('Employee Details are:')
print("ID: ",o2.eid)
print("Name: ",o2.ename)
print("salary: ",o2.esalary)
print("mobile: ",o2.emobile)

Employee Details are:
ID:  101
Name:  Akshay
salary:  20000
mobile:  9890673474


Employee Details are:
ID:  102
Name:  Arun
salary:  45000
mobile:  7654329810

In [33]:
#methodes in class
#self:
#self is default parameter to be used to acess
# the values in current object
# we can give any name instead of the self but it has to be the 1st parameter

class Student:
    def __init__(self, name, lastname, clas, rollno):
        self.name = name
        self.lname = lastname
        self.clas = clas
        self.rollno = rollno
        
    def Display(self):
        print("Name  of Student: ", self.name)
        print("lastname of Student: ", self.lname)
        print("clas of Student: ", self.clas)
        print("rollno of Student: ", self.rollno)
        
s = Student('Rahul','Yadav','BBA',10)

s.Display()
print("\n")

s1 = Student('Anjali','Raut','BCA',11)

s1.Display()
print("\n")

s2 = Student('Shlok','Bamgude','SSC',12)

s2.Display()

Name  of Student:  Rahul
lastname of Student:  Yadav
clas of Student:  BBA
rollno of Student:  10


Name  of Student:  Anjali
lastname of Student:  Raut
clas of Student:  BCA
rollno of Student:  11


Name  of Student:  Shlok
lastname of Student:  Bamgude
clas of Student:  SSC
rollno of Student:  12

# Inheritance

Inheritance is a property of Object oriented language that allows a class to derive properties of other / parent class

parent/Base class:
It is the class which gets inherited.

Derived/ Child class:
It is the class which inherites properties from other class or parent class.

In [1]:
#Base class:

class Person:
    def __init__(self,fname,lname):
        self.fname = fname
        self.lname = lname
        
    def Display(self):
        print('First name: ',self.fname)
        print('Last name: ',self.lname)
        
r = Person("Meghana","Raut")        

print(r.fname)
print(r.lname)

Meghana
Raut

In [2]:
#Child class:

class Student(Person):
    pass

s = Student("Om","Raut")

s.Display()

First name:  Om
Last name:  Raut

In [14]:
#Real class

class Person:
    def __init__(self,fnm,lnm,age,weight):
        self.fname = fnm
        self.lname = lnm
        self.age   = age
        self.weight = weight
        
    def Display(self):
        print('First name: ',self.fname)
        print("Last name: ",self.lname)
        print("age of person: ",self.age)
        print("Weight of person: ",self.weight)
        
r = Person("Lahu","Raut",45,61)

r.Display()
print("\n")
        
class Student(Person):
    pass

s = Student("Meghana","Raut",21,39)

s.Display()

First name:  Lahu
Last name:  Raut
age of person:  45
Weight of person:  61


First name:  Meghana
Last name:  Raut
age of person:  21
Weight of person:  39

In [22]:
#Aother Ex of real class

class Student():
    def __init__(self,name,rollno ,age , year):
        self.name = name
        self.rollno = rollno
        self.age = age
        self.year = year
    
    def Display(self):
        print("Name of student: ",self.name)
        print('rollno of student: ',self.rollno)
        print('age of student: ',self.age)
        print("year of passing: ",self.year)
        
    def intro(self):
        print('Hi my name is',self.name, ' My rollno is',self.rollno,'My age is',self.age,'year of passing is',self.year)
        
        
r = Student('Mona Hanamghar',12,25,2016)
s = Student('Rupali Bamgude',13,24,2015)
t = Student('Sonali Jangam',14,26,2018)

r.Display()
print("\n")

s.Display()
print("\n")

t.Display()
print("\n")

r.intro()
print("\n")

s.intro()
print('\n')

t.intro()
print('\n')

Name of student:  Mona Hanamghar
rollno of student:  12
age of student:  25
year of passing:  2016


Name of student:  Rupali Bamgude
rollno of student:  13
age of student:  24
year of passing:  2015


Name of student:  Sonali Jangam
rollno of student:  14
age of student:  26
year of passing:  2018


Hi my name is Mona Hanamghar  My rollno is 12 My age is 25 year of passing is 2016


Hi my name is Rupali Bamgude  My rollno is 13 My age is 24 year of passing is 2015


Hi my name is Sonali Jangam  My rollno is 14 My age is 26 year of passing is 2018

In [16]:
#Base class

class Person():
    def __init__(self,fname,lname,addr):
        self.first_name = fname
        self.last_name = lname
        self.address = addr
        
    def Display(self):
        print("First Name: ",self.first_name)
        print("Last Name: ",self.last_name)
        print("Address: ",self.address)
        
p = Person('Sakshi','kale','pune')        

p.Display()

print("\n")
# child class
class Employee(Person):
    def __init__(self,fname, lname, addr, id1,sal):
        Person.__init__(self,fname,lname,addr)
        self.eid = id1
        self.salary = sal
        
    def Display(self):
        print("First Name: ",self.first_name)
        print("Last Name: ",self.last_name)
        print("Address: ",self.address)
        print('Employee ID: ',self.eid)
        print('Salary: ',self.salary)
        
e = Employee('Sakshi ','Kale','pune',100,35000)
e.Display()

First Name:  Sakshi
Last Name:  kale
Address:  pune


First Name:  Sakshi
Last Name:  Kale
Address:  pune
Employee ID:  100
Salary:  35000

In [27]:
# Find the area and perimeter of rectangle 
class Rectangle():
    def __init__(self,width,height):
        self.width = width
        self.height = height
        
    def calculate_area(self):
        return self.width * self.height
    
    def calculate_Perimeter(self):
        return 2 * (self.width + self.height)
    
    
R = Rectangle(4,8)    
A = R.calculate_area()
P = R.calculate_Perimeter()

print("Area of rectangle: ",A)
print("Perimeter of retanlge: ",P)

Area of rectangle:  32
Perimeter of retanlge:  24

# Iterator

Iterator are used to traverse the iterables:  Like list, tuple, set, string and Dictionary.

Iterator has countable number of values

Iterator are used to traverse throught the values one by one

It has two methodes __iter__() and __next__()

iter() methode is used to get an iterator over iterables like string,list,tuple,set and dictionary

Iterator is an object that allows you to iterate over collection of data, such as lists,tuple,dict,sets.

In [33]:
#Example of tuple

tup =(10,20,30,40,50)

print(type(tup))

itr = iter(tup) # create an iterator object

print(next(itr))
print(next(itr))
print(next(itr))

<class 'tuple'>
10
20
30

In [38]:
# example of list

list_1 = [10,20,30,40,50,60]

itr1 = iter(list_1)

print(next(itr1))
print(next(itr1))
print(next(itr1))
print(next(itr1))
print(next(itr1))
print(next(itr1))

10
20
30
40
50
60

In [2]:
# for: it get an iterator for a particular data type internally.
list_1 = [10,20,30,40,50,60]

for i in list_1:
    print(i)

10
20
30
40
50
60

In [4]:
# use for loop for demonstration of __iter__() and __next__()

# Problem under Consideration
# print a series of number from 1

class Counter:
    def __iter__(self):
        self.val = 1
        return self
    
    
    def __next__(self):
        x = self.val
        self.val += 1
        
        if x == 51:
            raise StopIteration
            
        return x  
        
count = Counter()           

itr = iter(count)

for x in itr:
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [9]:
#For Example -1

class Counter:
    def __iter__(self):
        self.num = 10
        return self
    
    def __next__(self):
        y = self.num
        self.num += 10
        
        if y == 100:
            raise StopIteration
            
        return y
    
count = Counter()    

itr = iter(count)

for val in itr:
    print(val)

10
20
30
40
50
60
70
80
90

# Scope of Variables

Variable scope in python refers to the area of a programme where a variable can be accessed and modified.

Two types of scope = 1. Local  2. Global

In [3]:
d = 500
e = 600

def add():
    #Local variable
    d = 10
    e = 20
    
    global pi 
    pi = 3.14
    
    print('Inside Add:')
    print(d)
    print(e) 
    return d + e

def display(val1, val2):
    print('Inside Display Function:')
    print(val1)
    print(val2)
    
add()    

display(d,e)
print('Outside Display Function:')
print(d)
print(e)

Inside Add:
10
20
Inside Display Function:
500
600
Outside Display Function:
500
600

In [5]:
# Global scope
# the values that are outside the function are called global
# values

x = 100

def myfun():
    print(x)

myfun()

100

In [6]:
# Local scope
# rhe values that are inside the function are called local
# values

def myfun():
    x = 200
    print(x)
    
myfun()

200

In [7]:
# Global and Local scope in one function

x = 300  # Global scope

def myfun():
    x = 200  #Local scope
    print(x)
    
myfun()    
print(x)

200
300

In [2]:
#Global keyword
def my_fun():
    
    global x
    x = 230
    print(x)
    
my_fun()

230

In [11]:
# You can also use global keyword if you want to make a
# change to a global variable inside a function

x = 450

def myfunc():
     
    global x 
    x = 500
    print(x)
    
myfunc()
print(x) #original value of x was 450 but after using global
#keyword it changes to 500

500
500

In [6]:
# another Example of global keyword

z = 200 # global scope
def Myfun():
    
    def Display_z():
        print(z)
    z = 10   # Local variable
    print(z)
    Display_z()
    Display(z)
    
def Display(x):
    global pi
    pi = 3.14
    print('Printing Outside scope',x)
    
print(z)    
Myfun()
print(pi)

200
10
10
Printing Outside scope 10
3.14

# Modules

Module is a set of function which is used to develope an application 

It is a code liabrary.

In [7]:
# importing modules with alias name
#like
# import mymodule as mm

# you can also use other built in module like


import platform

op_sys = platform.system()
print(op_sys)

Windows

# Datetime module

Datetime is not a pythons own data type,but we can import datetime module and can operate on it.

In [2]:
import datetime as dt

x = dt.datetime.now()
print(x)

2023-06-06 12:25:00.038620

In [3]:
import datetime

print(datetime.MAXYEAR,'\n')

print(datetime.MINYEAR)

9999

1

In [10]:
x = dt.datetime.now()

print(x.day)
print(x.year)
print(x.month)
print(x.strftime('%B'))  #Month name
print(x.strftime('%A'))  #Day
print(x.strftime('%H'))  #0 - 23 hour
print(x.strftime('%I'))  #0 - 12 hour
print(x.strftime('%p'))  #AM - PM

6
2023
6
June
Tuesday
13
01
PM

In [12]:
import datetime as dt

datetime.datetime.now()

#(year,month,day,hour,minutes,seconds,microseconds)

datetime.datetime(2023, 6, 6, 13, 7, 30, 745634)

# Python Math Function

In [14]:
#Returns minimum value

x = min(100,45,123,234,578,678,12)

print(x)

12

In [15]:
# Returns maximum value

x = max(100,45,123,234,578,678,12)

print(x)

678

In [16]:
# Returns absolute positive value

x = abs(-456)

print(x)

456

In [1]:
# Power function

x = pow(10,4)  # power means 10 res to 4, 10*4 = 10000

print(x)

10000

# Math module

In [12]:
import math

a = math.sqrt(9) #returns a squareroot of 9
print(a)       

b = math.factorial(4)  #returns factorial no.
print(b)       #4! = 4*3*2*1 = 24

c = math.ceil(4.1) #returns a nearest no of 4.1 or gives upward no
print(c)        # it get 5

eluers_no = math.e  #returns eulers number
print(eluers_no)

d = math.pi # returns pi value
print(d)

e = math.exp(5)  # returns E raised to the power of x
print(e)      # the e no = 2.71828 multiply this no. 5 times

f = math.floor(120.67)
print(f)

print(math.nan)    #returns a floating point nan(not a number)value

g = math.fsum([1,2,3,4,5])  #returns the sum of all itens in any iterables(tuples,arrays,lists)
print(g)

3.0
24
5
2.718281828459045
3.141592653589793
148.4131591025766
120
nan
15.0

# JSON

JSON is a javascript object notation storing and exchanging data.

Python has built in package json

JSON to send data from a server to a web page

JSON stands for JavaScript Object Notation

JSON is a lightweight data interchange format

JSON is language independent

JSON is "self.describing" and easy to understand

JSON Syntax Rules

       Data is in name/value pairs
       Data is seperated by commas
       Curly braces hold objects
       Square brackets hold arrays/list

In [6]:
import json

In [8]:
# Conversion of json to python using loads()
# json object
# loads means conversion str to dict

student = '{"Name":"Rohini","mobile":7654328812,"city":"pune","email":"Rohini@gmail.com"}'

print(type(student))

print(student,"\n")

stud =json.loads(student)

print(stud,"\n")

print(type(stud))

<class 'str'>
{"Name":"Rohini","mobile":7654328812,"city":"pune","email":"Rohini@gmail.com"}

{'Name': 'Rohini', 'mobile': 7654328812, 'city': 'pune', 'email': 'Rohini@gmail.com'}

<class 'dict'>

In [47]:
# Convert a dictionary to json object using json.dumps()
# dumps means conversion dict to str
employee = {
    "Name" : "Ved",
    "emp_id" : 101,
    "email" : "ved123@gmail.com",
    "salary" : 12000
    
}

print(type(employee))
print(employee,"\n")

#Access the dictionary

print(employee['emp_id'],'\n')

emp_1 = json.dumps(employee)

print(type(emp_1))
print(emp_1,"\n")

<class 'dict'>
{'Name': 'Ved', 'emp_id': 101, 'email': 'ved123@gmail.com', 'salary': 12000}

101

<class 'str'>
{"Name": "Ved", "emp_id": 101, "email": "ved123@gmail.com", "salary": 12000}

In [23]:
#Apply on tuple

tup = (10,20,30,40,50)

print(type(tup))
print(tup,'\n')

tup_1 = json.dumps(tup)

print(type(tup_1))
print(tup_1)

<class 'tuple'>
(10, 20, 30, 40, 50)

<class 'str'>
[10, 20, 30, 40, 50]

In [17]:
# Test out same on other data types

import json

x = {
    "name": "Om",
    "age": 14,
    "vegetarian": True,
    "non_veg": False,
    "food": ("paneer","kabab"),
    "owns_chopper": None,
    "cars":[
        {"model": "kia-123","mpg": 27.5},
        {"model": "tata","mpg": 24.1}
    ]
}

l = x['cars']
print(l)

print(l[0],'\n')

print(x['cars'],'\n')

print(type(x))
print(x,'\n')

x_1 = json.dumps(x)

print(type(x_1))
print(x_1)

[{'model': 'kia-123', 'mpg': 27.5}, {'model': 'tata', 'mpg': 24.1}]
{'model': 'kia-123', 'mpg': 27.5}

[{'model': 'kia-123', 'mpg': 27.5}, {'model': 'tata', 'mpg': 24.1}]

<class 'dict'>
{'name': 'Om', 'age': 14, 'vegetarian': True, 'non_veg': False, 'food': ('paneer', 'kabab'), 'owns_chopper': None, 'cars': [{'model': 'kia-123', 'mpg': 27.5}, {'model': 'tata', 'mpg': 24.1}]}

<class 'str'>
{"name": "Om", "age": 14, "vegetarian": true, "non_veg": false, "food": ["paneer", "kabab"], "owns_chopper": null, "cars": [{"model": "kia-123", "mpg": 27.5}, {"model": "tata", "mpg": 24.1}]}

when we convert python object to json then it will be like
shown below:

1. dict    object
2. list    Array
3. tuple   Array
4. str     String
5. int     Number
6. float   Number
7. True     true
8. False    false
9. None     null

# Result Formatting

to make json more readable we can use some additional parameters like indent=4, separators=("."," = "), sort_keys=True

In [41]:
#(indent=4)
import json

x = {
    "name": "Om",
    "age": 14,
    "vegetarian": True,
    "non_veg": False,
    "food": ("paneer","kabab"),
    "owns_chopper": None,
    "cars":[
        {"model": "kia-123","mpg": 27.5},
        {"model": "tata","mpg": 24.1}
    ]
} 

print(json.dumps(x,indent=4))

{
    "name": "Om",
    "age": 14,
    "vegetarian": true,
    "non_veg": false,
    "food": [
        "paneer",
        "kabab"
    ],
    "owns_chopper": null,
    "cars": [
        {
            "model": "kia-123",
            "mpg": 27.5
        },
        {
            "model": "tata",
            "mpg": 24.1
        }
    ]
}

In [44]:
#(separators=("-","= "))
import json

x = {
    "name": "Om",
    "age": 14,
    "vegetarian": True,
    "non_veg": False,
    "food": ("paneer","kabab"),
    "owns_chopper": None,
    "cars":[
        {"model": "kia-123","mpg": 27.5},
        {"model": "tata","mpg": 24.1}
    ]
} 

print(json.dumps(x,indent=4, separators=("-","= ")))

{
    "name"= "Om"-
    "age"= 14-
    "vegetarian"= true-
    "non_veg"= false-
    "food"= [
        "paneer"-
        "kabab"
    ]-
    "owns_chopper"= null-
    "cars"= [
        {
            "model"= "kia-123"-
            "mpg"= 27.5
        }-
        {
            "model"= "tata"-
            "mpg"= 24.1
        }
    ]
}

In [46]:
#(sort_keys=True)
import json

x = {
    "name": "Om",
    "age": 14,
    "vegetarian": True,
    "non_veg": False,
    "food": ("paneer","kabab"),
    "owns_chopper": None,
    "cars":[
        {"model": "kia-123","mpg": 27.5},
        {"model": "tata","mpg": 24.1}
    ]
} 

print(json.dumps(x,indent=4, separators=("-","= "), sort_keys=True))

{
    "age"= 14-
    "cars"= [
        {
            "model"= "kia-123"-
            "mpg"= 27.5
        }-
        {
            "model"= "tata"-
            "mpg"= 24.1
        }
    ]-
    "food"= [
        "paneer"-
        "kabab"
    ]-
    "name"= "Om"-
    "non_veg"= false-
    "owns_chopper"= null-
    "vegetarian"= true
}

# RegEx or Regular Expression

RE is a special sequence of characters which helps you to match or find other patterns in a string, using special syntax

python has re module which gives way to work with regEx.

In [18]:
import re

In [19]:
txt = "The python programming was developed in 1991 by Guido Van Rossom"

x = re.search("^The.*Rossom$", txt)

# RegEx: ^The.*Rossom$
# ^ - start with 'The'
# . - Any character
# * - Any number of occurances
# $ - Ends with 'Rossom'

# x - Match Object

# Match Object
print(x.span())
#it returns the tuple(start,end) position of the match object

print(x.start())
# It returns the start location of the match object

print(x.end())
# It returns the end location of mathch object

print(x.string)

# returns the string passed into the function.

print(x.group()) 

# returns the part of the string where there was a match

#print(x.span())
#print(x.start())
#print(x.end())
#print(x.string)
#print(x.group())

if x:
    print("Yes string start with 'The' and Ends with 'Rossom'")
else:
    print("Doesn't have match")

(0, 64)
0
64
The python programming was developed in 1991 by Guido Van Rossom
The python programming was developed in 1991 by Guido Van Rossom
Yes string start with 'The' and Ends with 'Rossom'

findall ==> Returns a list containing all matches

search ==>  Returns a Match object if there is a match anywhere in the string

split ==> Returns a list where the string has been split at each match 

sub ==> Replaces one or many matches with a string

In [20]:
# findall function returns the list of all matches

txt = "The python is easy to learn "
x = re.findall('e',txt)

print(x)

['e', 'e', 'e']

In [21]:
#programme to find the list of words and its occurance in a string

def count_char():
    count = []
    import re
    l = ['The','o','python']
    txt = "The python programming was developed in 1991 by Guido van rossom"
    for i in l:
        cnt = re.findall(i,txt)
        
        count.append(len(cnt))
    return count  

count_char()

[1, 6, 1]

In [39]:
# search returns the first occurance of the match

txt = "The python programming is easy to learn"

x = re.search("py",txt)

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 4

In [27]:
txt = "The rain in Spain"
x = re.search("\s",txt)

print("The first white-space character is locted in position:",x.start())

The first white-space character is locted in position: 3

In [4]:
#split function split the string using given pattern

txt = "The python programming was developed in 1991"

x = re.split("\s",txt)

print(x)

['The', 'python', 'programming', 'was', 'developed', 'in', '1991']

In [22]:
#split the string at its first occurance
import re
x = re.split("\s",txt,1)

print(x)

['The', 'python programming was developed in 1991']

In [2]:
#sub function replaces the matches with the text of your choice
import re
txt = "The python programming was developed in 1991"

x = re.sub("\s",":",txt,4)

print(x)

The:python:programming:was:developed in 1991

In [5]:
txt = "The rain in USA"
x = re.search("\s",txt)
print("The first white-space chracter is located in position:",x.start())
print(x.span())
print(x.start())
print(x.end())
print(x.string)
print(x.group())

The first white-space chracter is located in position: 3
(3, 4)
3
4
The rain in USA

In [34]:
txt = "The Tiger is king"
x = re.search("\s",txt)
print("The first white-space character is located in position:",x.start())

print(x.span())
print(x.start())
print(x.end())
print(x.string)
print(x.group())

The first white-space character is located in position: 3
(3, 4)
3
4
The Tiger is king

# Exception Handling

Try:
    try block allow you to test a block of code for errors

Except:
     except block allow you to handle the error.
     
Finally:
     finally block allow you execute block of code.
     regardless of the try and except blocks
     
Error:
      syntax errors and exceptions.
      


Syntax errors:
        also known as parsing errors, are perhaps the most           common kind of complaint you get while you are still         learning python:
        

Exception:

Errors detected during execution are called exceptions

In [8]:
#while True: print("Hello")

In [7]:
# Errors detected during execution are called exceptions

l = [10,20,30]
for x in range (0,4):
  print(l[x])

10
20
30

IndexError: list index out of range

In [5]:
while True:
    try:
        x = int(input("Please enter a number: "))
        break
    except ValueError:
     print("Oops!  That was no valid number.  Try again..")

Please enter a number: 100

In [16]:
# ValueError

try:
 print(value)
except ValueError:
 print("Variable Not Declared")
except:
 print("Somthing else went wrong")

Somthing else went wrong

In [17]:
#You can use the else keyword to define a block of code to be executed
# if no errors were raised:
# jar try madhe error asel tr except print hoil and jr nasel 
# tar else print hota.

try:
 print("Hello")
except:
 print("Something went wrong")
else:
 print("Nothing went wrong")

Hello
Nothing went wrong

In [18]:
#the error in try,print except statement
try:
    ls =[10,20,30,40,50]
    for i in range(0,7):
        print(ls[i])
        
except:
 print("Something went wrong")
    
else:
 print('There was no error in try block')

10
20
30
40
50
Something went wrong

In [25]:
# Finally block
#error yevo kiva na yevo finally block ha print kela jato
# error none
z = 10
try:
 print(z)
except:
 print('There is something wrong')
finally:
 print('This is finally block: to be executed mandatory')

10
This is finally block: to be executed mandatory

In [26]:
# error occured
try:
 print(n)
except:
 print('There is something wrong')
finally:
 print('This is finally block: to be executed mandatory')

There is something wrong
This is finally block: to be executed mandatory

# Raise an exception

As a Python developer you can choose to throw an exception if a condition occurs.

To throw (or raise) an exception,use the raise keyword.

In [4]:
# Raise an error and stop the program if x is lower than 0:
x = -1

if x < 0:
 raise Exception("Sorry, no number below zero")

Exception: Sorry, no number below zero

In [3]:
# Ex - 2
# Raise a TypeError if x is not an integer:

x = "hello"

if not type(x) is int:
 raise TypeError("Only integers are allowed")

TypeError: Only integers are allowed

# String Formatting

format() method let you to format selected parts of a string

Sometimes there are parts of a text that you dp not control,maybe they come from a database, or use input?

To control such values, add placeholders (curly brackets{}) in the text, and run the values throught the format()method:

In [3]:
price = 60
txt = "The price is {} dollars"
print(txt.format(price))

The price is 60 dollars

In [6]:
price = 49
txt = "The price is {:.2f} dollars"
print(txt.format(price))

The price is 49.00 dollars

In [12]:
quantity = 3
itemno = 10
price = 500
myorder = "I want {} pieces of itemno {} for {:.2f} dollars"
print(myorder.format(quantity,itemno,price))

I want 3 pieces of itemno 10 for 500.00 dollars

In [16]:
quantity = 3
itemno = 10
price = 500

print("I want {0} pieces of itemno {1} for {2:.2f} rupees".format(quantity,itemno,price))

I want 3 pieces of itemno 10 for 500.00 rupees

In [15]:
age = 23
name = "Rahul"
txt = "His name is {1}. {1} is {0} years old."
print(txt.format(age,name))

His name is Rahul. Rahul is 23 years old.

In [17]:
myorder = "I have a {carname}, it is a {model}."
print(myorder.format(carname = "Ford", model = "Mustang"))

I have a Ford, it is a Mustang.

# File Handling

File handling is an important concept in python.

Python has many functions for creating, reading, updating, and deleting files.

# Open File

The open() function: The open () function takes two parameters.

1. Filename
2. mode of opening a file.

There are four different modes to open file:

"r" = Read - Default value. Opens in reading mode,
             gives error if file not exists.
             
"a" - Append - Opens in appending mode,
               Creates new file if it does not exists
               
"w" - Write - Opens in writing mode,
              Creates new file if it does not exists
              
"x" - Creates - Creates the specified file,
                Gives an error if the file already exists
                
In addition you can specify if the file should be handled as binary or text mode.

"t" - Text - Default value. Text mode
"b" - Binary - Binary mode(e.g. images)

# Reading a file

Functions we use to handle files:

read() - To read files - read all contents
readline() - To read cotents line by line
close() - to close the file.
f =f is a file handle

In [15]:
# ./files/sample.txt

f = open("./om.txt")
print(f.read())

This is sample file

In [18]:
f = open("./Meghana.txt")

print(f.read())

This is good thing.

In [22]:
#reading files in parts
# Reads first 10 chars

f = open("./Meghana.txt","r")

print(f.read(10))

This is go

In [3]:
# reads line by line

f = open("./om.txt","r")

print(f.readline())

This file is for temporary

In [25]:
#read using for loop

f = open("./om.txt","r")

for x in f:
    print(x)
    
f.close()

This is sample file

# Writing to existing file
  f.write() - writes contents to file
  1. "a"
  2. "w"
  3. "x"

In [28]:
# Append mode:
# open the file and append content to the file

f = open("./om.txt","a")
f.write("Now the file has more content!")
f.close()

#open and read the file after the appending:

f = open("./om.txt","r")
print(f.read())

This is sample fileNow the file has more content!Now the file has more content!

In [29]:
# Write using "w" mode:
# open the file and overwrite the content:

f = open("./om.txt","w")
f.write("Ooops! i have deleted the content!")
f.close()

#open and read the file after the overwriting:

f = open("./om.txt","r")
print(f.read())

Ooops! i have deleted the content!

In [9]:
# Create a new file using "x" mode:
# create a file called "./omRaut1.txt"

f = open("./omRaut1.txt","x")
f.write("This file is created in x mode\n So we have now many files created")
f.close()

f = open("./omRaut1.txt","r") 
print(f.read())

This file is created in x mode
 So we have now many files created

# Creating New File

# when want create new then
#All modes will create  a new file
"a"
"w"
"x"

# Delete File

To delete a file, you must import the OS module, and run its os.remove() function:

In [32]:
import os

#remove the file "./om.txt","r":
import os
os.remove("./om.txt")

Check if file exist:

To avoid getting an error, you might want to check if the file exists before you try to delete it:

In [34]:
#check if file exists,then delete it:

import os
if os.path.exists("./om.txt"):
    os.remove("./om.txt")
else:
    print("The file does not exist")

The file does not exist

# Delete Folder

To delete an entire folder, use the os.rmdir() methode:
# remove the folder"myfolder":

In [23]:
f = open("./megha.txt","x")
f.write("This file is created in x mode\n So we have now many files created")
f.close()

f = open("./megha.txt","r") 
print(f.read())

This file is created in x mode
 So we have now many files created

In [33]:
import os
os.rmdir("myfolder")